@import './abstracts/variables';
@import './mixins/breakpoints';

@import './base/normalize';
@import './base/global';
@import './base/utils';

@import './layout/layout-elements';
@import './layout/flex-layout';

@import './components/button';
@import './components/label';
@import './components/tag';
@import './components/status';
@import './components/form';


@import './components/horizontal-nav';
@import './components/user-profile';
@import './components/widget';
@import './components/tasks-table';
@import './components/table';
@import './components/pagination';
@import './components/copyrights';

@import './components/sections/header';
@import './components/sections/filter';
@import './components/sections/widgets';
@import './components/sections/tasks';
@import './components/sections/footer';