.container
{
  max-width: 1340px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 10px;
}

.section
{
  padding: 20px 0;
}

.section__title
{
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  color: $text-secondary-color;
}