.filter {
	padding: 40px 0 20px 0;
}

.filter__form {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 20px 0px;

	@include tablet {
		align-items: flex-start;
		flex-direction: column;
	}
}

.filter__item-select + .filter__item-select {
	@include tablet {
		margin: 25px 0;
	}
}

.filter__item-select,
.filter__select {
	width: 200px;

	@include tablet {
		max-width: none;
		width: 100%;
	}
}

.filter__item-checkbox {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 24px;
	transform: translateY(-50%);

	@include tablet {
		transform: none;
		margin: 0px 0px 20px 0px;
	}
}

.filter__actions {
	align-items: center;
	display: flex;
	margin-left: 24px;

	@include tablet {
		margin-left: 0;
		padding-top: 10px;
		width: 100%;
	}
}

