.header {
	background-color: $layout-secondary-color;
	border-bottom: 1px solid $layout-secondary-color-lighter;
}

.main-logo {
	@include desktop {
		margin: 0px 0px 0px 0px;
	}

	@include laptop {
		margin-right: 0;
		order: 1;
	}
}

.main-nav {
	border-right: 1px solid $layout-secondary-color-lighter;

	@include laptop {
		align-items: flex-end;
		border-right: none;
		display: flex;
		flex-direction: column;
		max-width: 168px;
		order: 3;
	}
}

.user-avatar {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	max-width: 104px;

	img {
		border-radius: 50%;
	}

	@include laptop {
		align-items: center;
		order: 2;
	}
}
