@include tablet {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.widgets__item {
	flex-basis: 50%;
	margin-bottom: 24px;

	@include tablet {
		flex-basis: 100%;
		padding-left: 0;
	}
}

.widgets__item--big {
	flex-basis: 100%;
	padding-left: 0;
	width: 100%;
}

