.button
{
  background: none;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  transition: 0.4s;

  &:hover
  {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
  }
}

.button--primary
{
  background-color: $button-primary-color;
  border: 1px solid $button-primary-color;
  color: $button-primay-text-color;

  &:hover
  {
    background-color: transparent;
    color: $button-primary-color;
  }
}

.button--outline-primary
{
  border: 1px solid $button-primary-color;
  color: $button-primary-color;

  &:hover
  {
    background-color: $button-primary-color;
    color: $button-primay-text-color;
  }
}