// horizontal-nav__mobile-button
.horizontal-nav__mobile-button
{
  display: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0;

  @include laptop
  {
    display: block;
    margin-right: -10px;
    padding: 20px 15px;
  }

  &::before
  {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../imgs/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// horizontal-nav__list
.horizontal-nav__list
{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  @include laptop
  {
    display: none;
  }
}

// horizontal-nav__link
.horizontal-nav__link:link,
.horizontal-nav__link:visited
{
  display: inline-block;
  padding: 25px 24px;
  display: flex;
  align-items: center;
  color: $text-primary-color;
  position: relative;
  font-weight: 600;
  transition: 0.4s;

  @include desktop
  {
    padding: 10px;
  }
}

.horizontal-nav__link::after
{
  content: "";
  display: block;
  height: 3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  background-color: $layout-accent-color;
  background-image: $primary-top-to-bottom-gradient;
  transition: opacity 0.4s;
  opacity: 0;
}

.horizontal-nav__link:hover::after,
.horizontal-nav__link.current::after
{ 
  opacity: 1;
}

.horizontal-nav__link:hover,
.horizontal-nav__link.current
{
  background-color: $layout-secondary-color-lighter;
  text-decoration: none;
  color: $layout-accent-color;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

// horizontal-nav__link-icon
.horizontal-nav__link-icon
{
  margin-right: 4px;
}

.horizontal-nav__link-icon path
{
  transition: 0.4s;
}

.horizontal-nav__link:hover .horizontal-nav__link-icon path,
.horizontal-nav__link.current .horizontal-nav__link-icon path
{
  fill: $layout-accent-color !important;
}