.label:link,
.label:visited
{
  background-color: $layout-accent-color-medium-darker;
  border-radius: 3px;
  color: $text-secondary-color;
  display: inline-block;
  margin: 5px;
  margin-left: 12px;
  padding: 3px 12px;
  position: relative;
  z-index: 2;

  // Label gradient background
  &::before
  {
    background-color: $layout-accent-color;
    background-image: $primary-left-to-right-gradient;
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    width: 100%;
    z-index: -1;
  }
  
  &:hover
  {
    text-decoration: none;

    &::before
    {
      opacity: 0;
      width: 0;
    }
  }

  // Label left corner
  &::after
  {
    background-color: $layout-accent-color-medium-darker;
    border-radius: 3px;
    content: "";
    display: block;
    height: 20px;
    left: -8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 20px;
    z-index: -2;
  }
}