.pagination
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include phone
  {
    flex-direction: column;
  }
}

.pagination > div + div
{
  margin-left: 12px;

  @include phone
  {
    margin-left: 0;
    margin-top: 15px;
  }
}

.pagination__rows-per-page-form .form__item-select
{
  display: flex;
  align-items: center;
}

.pagination__rows-per-page-form .form__label
{
  margin: 0;
  margin-right: 12px;
  font-weight: 400;
  color: $text-primary-color;
}
