.pagination,
.pagination__list
{
  display: inline-flex;
  flex-wrap: wrap;
}

.pagination
{
  background-color: $layout-secondary-color;
  border-radius: 7px;
  border: 1px solid $layout-secondary-color-lighter;
  padding: 8px;
}

// pagination__list
.pagination__list
{
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

.pagination__list-item + .pagination__list-item
{
  margin-left: 5px;
}

// pagination__button
.pagination__button
{
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: $text-primary-color;
  padding: 8px 12px;
  transition: 0.4s;

  &:hover,
  &.current
  {
    background-color: $layout-accent-color;
    color: $text-secondary-color;
    cursor: pointer;
  }
}

.pagination__button[disabled]
{
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.5;

  &:hover
  {
    color: $text-primary-color;
  }
}

.pagination__button-prev,
.pagination__button-next
{
  align-items: center;
  display: inline-flex;
  font-size: 0;
}

.pagination__button-prev .pagination__button-icon
{
  transform: rotate(180deg);
}