.widget
{
  background-color: $layout-secondary-color;
  border-radius: 7px;
  border: 1px solid $layout-secondary-color-lighter;
  padding: 40px 64px;
  position: relative;
  max-height: 648px;
  height: 100%;

  @include laptop
  {
    padding: 40px 10px 40px 20px;
  }

  @include tablet
  {
    max-height: none;
    height: auto;
  }

  // Widget left vetical gradient line
  &::before
  {
    background-color: $layout-accent-color;
    background-image: $primary-bottom-to-top-gradient;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    content: "";
    display: block;
    height: 56.6%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }
}

// widget__title
.widget__title
{
  color: $text-secondary-color;
  font-size: 1.14rem;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

// widget__content
.widget__content--fixed-height
{
  height: 515px;
  overflow: auto;

  @include laptop
  {
    height: auto;
  }
}

// widget__flex-content
.widget__flex-content
{
  display: flex;
  justify-content: space-between;
}

.widget__flex-content-item > .widget__group + .widget__group
{
  margin-top: 40px;
}

// widget__group
.widget__group-title
{
  color: $layout-accent-color-lighter;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

// widget__field
.widget__field + .widget__field
{
  margin-top: 16px;
}

.widget__field
{
  align-items: flex-start;
  display: flex;
}

.widget__field-label,
.widget__field-value
{
  word-break: break-word;
}

.widget__field-label
{
  flex-shrink: 0;
  margin-right: 45px;
  max-width: 90px;
  width: 100%;

  @include phone
  {
    margin-right: 15px;
  }
}

.widget__field-label--colored
{
  color: $layout-accent-color-lighter;
}

// widget__list
.widget__list
{
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

// widget__list--nested
.widget__list--nested
{
  font-weight: 400;
  padding-left: 18px;
  padding-top: 8px;
}

// widget__list--table-view
.widget__list--table-view .widget__field
{
  align-items: center;
  border-bottom: 1px solid $layout-secondary-color-lighter;
  padding: 8px 0;
  width: 100%;
}

.widget__list--table-view > .widget__list-item:last-child .widget__field
{
  border-bottom: none;
  border-top: 1px solid $layout-secondary-color-lighter;
  padding-bottom: 0;
}

.widget__list--table-view .widget__field-label
{
  margin-right: 10px;
  max-width: 120px;
}

.widget__list--table-view .widget__field-value
{
  margin-left: auto;
  max-width: 70px;
  text-align: right;
  width: 100%;
}

.widget__list--table-view.widget__list--nested .widget__list-item:first-child .widget__field
{
  border-top: none;
  padding-top: 0;
}

.widget__list--table-view > .widget__list-item:last-child
{
  margin-top: -1px;
}

.widget__list--table-view.widget__list--nested .widget__list-item:last-child .widget__field
{
  border-top: none;
  padding-bottom: 9px;
}

// widget__table
.widget__table
{
  border: none;
  font-weight: 700;
}

.widget__table-row
{
  border-bottom: 1px solid $layout-secondary-color-lighter;

  &:last-child
  {
    border-bottom: none;
  }
}

.widget__table-cell
{
  border: none;
}

// widget--md
.widget--md
{
  max-width: 648px;
  width: 100%;

  @include laptop
  {
    max-width: 100%;
  }
}

.widget--md .widget__flex-content
{
  @include phone
  {
    flex-wrap: wrap;
  }
}

.widget--md .widget__flex-content-item + .widget__flex-content-item
{
  margin-left: 20px;

  @include laptop
  {
    margin-left: 0;
  }
}

.widget--md .widget__flex-content-item
{
  max-width: 241px;
  width: 100%;

  @include laptop
  {
    max-width: 47%;
  }

  @include phone
  {
    max-width: 100%;
  }
}

.widget--md .widget__flex-content-item .widget__group + .widget__group
{
  margin-top: 40px;
}

// widget--lg
.widget--lg .widget__flex-content-item + .widget__flex-content-item
{
  margin-left: 15px;

  @include phone
  {
    margin-left: 0;
    margin-top: 15px;
  }
}

.widget--lg .widget__flex-content
{
  @include phone
  {
    flex-wrap: wrap;
  }
}

.widget--lg .widget__flex-content-item
{
  max-width: 576px;
  width: 100%;

  @include phone
  {
    max-width: 100%;
  }
}